@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
}



    .logo {

   font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: green;
 
 
}


.logo span {
  color: #444;
}

.nav-links {
    margin-left: 550px;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.search {
    margin-left: 50px;
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #e9fbe6;
  outline: none;
}

#search {
    width: 20px;
    height: 20px;
}
#cart{
   width: 30px;
    height:30px;
}





.title {
  text-align: center;
  margin: 40px 0 20px;
  color: green;
  font-size: 32px;
  font-weight: bold;
}

.products {
    margin-left: 50px;
    margin-right: 50px;
  display: flex;
  justify-content:space-around;
  gap: 50px;
  
  padding-bottom: 40px;
}

.product-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  text-align: center;
}



.product-card img {
  width: 350px;
  height: 250px;
  object-fit: contain;
}

.product-name {
  margin: 15px 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #ccc;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: darkgreen;
}
